 .output {
 	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.message {
	font-weight: normal;
	font-size: 20px; 
}
.btn {
	margin:2px;
}

.editBox  {
	width:65%;
	
}


/* CREDIT TO http://scotch.io/ */
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
@media (min-width: 650px) {
  
    #app.ng-enter,
    #app.ng-leave { 
        position:absolute; 
        left:30px; 
        right:30px;
        transition:0.4 all ease;
        -moz-transition:0.4s all ease;
        -webkit-transition:0.4s all ease; 
    }
      
     
    /* enter animation */
    #app.ng-enter {  
        -webkit-animation:slideInRight 0.4s both ease;
        -moz-animation:slideInRight 0.4s both ease;
        animation:slideInRight 0.4s both ease; 
    }
    /* leave animation */
    #app.ng-leave {
        -webkit-animation:slideOutLeft 0.4s both ease;
        -moz-animation:slideOutLeft 0.4s both ease;
        animation:slideOutLeft 0.4s both ease;   
    }

} 

 /* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
} 