 .output {
 	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	margin:2px;
}

.editBox  {
	width:65%;
}

.main {
    padding:10px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    width:80%;

}

.logo {
    margin-top:20px;
    margin-bottom:20px;
}

@media (max-width: 400px) {
    .nav, .message, .editBox, .main {
        font-size:14px;
        font-weight: normal;
    }
    .main {
        width:80%;
        margin:auto;
    }
    .logo {
        text-align:center;
    }
}

@media (min-width: 401px) and (max-width: 990px) {
    .nav, .message, .editBox, .main {
        font-size:18px;
        font-weight: normal;
    }

    .main {
         width:100%;
         margin:auto;
         padding:15px;
    }

    .logo {
        text-align:center;
    }

}

@media (min-width: 991px) {
    .nav, .message, .editBox, .main {
        font-size:20px;
        font-weight: normal;
    }

    .main {
         width:350px;
         padding:50px;
    }

    .logo {
        margin-right:95px;
    }
}


/* CREDIT TO http://scotch.io/ */
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
@media (min-width: 950px) {

    #app.ng-enter,
    #app.ng-leave { 
        position:absolute; 
        left:30px; 
        right:30px;
        transition:0.4 all ease;
        -moz-transition:0.4s all ease;
        -webkit-transition:0.4s all ease; 
    }
      
     
    /* enter animation */
    #app.ng-enter {  
        -webkit-animation:slideInRight 0.4s both ease;
        -moz-animation:slideInRight 0.4s both ease;
        animation:slideInRight 0.4s both ease; 
    }
    /* leave animation */
    #app.ng-leave {
        -webkit-animation:slideOutLeft 0.4s both ease;
        -moz-animation:slideOutLeft 0.4s both ease;
        animation:slideOutLeft 0.4s both ease;   
    }

} 

 /* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
} 