extends ../includes/layout

block main-content
	section
		div(ng-controller='MainCtrl')
			div.col-md-2
				img(src='assets/mean.png')
			h1.jumbotron 
				a(href='/') Main
				| &nbsp;
				a(href='#/view') View
				div(ng-view)
			h3=mongoMessage 
				br
				a(href='/api') API