extends ../includes/layout

block main-content
	section( ng-controller='MainCtrl')
		div(class='col-sm-1' style='margin:95px;margin-top:20px;margin-bottom:20px')
			center
				img(src='assets/mean.png')
		div(class='col-sm-8' )
			h2.jumbotron
				div(ng-view)
			div
				| &nbsp;
				a(href='/api') JSON API
				