extends ../includes/layout

block main-content
	section
		div(ng-controller='MainCtrl')
			div.col-md-2
				img(src='assets/mean.png')
			h2.jumbotron 
				a(href='/') Main
				| &nbsp;|&nbsp;
				a(href='#/add') Add
				| &nbsp;|&nbsp;
				a(href='#/view') View
				div(ng-view)
			h3
				| &nbsp;
				a(href='/api') JSON API